<h1>Admin Login</h1>

<%= form_with(url: admin_authenticate_path) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>

  <%= form.submit "Log in" %>
<% end %>
