<h1>Your Cart</h1>

<%= link_to "Continue Shopping", products_path %>

<% if @cart.present? && @cart.any? %>
  <table>
    <thead>
      <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% @cart.each do |product_id, quantity| %>
        <% product = Product.find(product_id) %>
        <tr>
          <td><%= product.product_name %></td>
          <td>
            <%= form_tag(update_quantity_cart_path, method: :post) do %>
              <%= hidden_field_tag :product_id, product_id %>
              <%= number_field_tag :quantity, quantity, min: 1 %>
              <%= submit_tag "Update" %>
            <% end %>
          </td>
          <td><%= number_to_currency(product.price) if product %></td>
          <td>
            <%= form_tag(remove_from_cart_cart_path, method: :delete) do %>
              <%= hidden_field_tag :product_id, product_id %>
              <%= submit_tag "Remove" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total Price: <%= number_to_currency(@total_price) %></p>
<% else %>
  <p>Your cart is empty.</p>
<% end %>

